<h3>{{ _('Matrix Notifier Configuration') }}</h3>

<form class="form-horizontal">

	<h4>{{ _('Server and Room Settings') }}</h4>

	<div class="control-group" title="{{ _('Username (mxid)') }}">
		<label class="control-label">{{ _('Username') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.username">
		</div>
	</div>

	<h4>{{ _('Message Content') }}</h4>

	<h5>{{ _('Done') }}</h5>
	
	<p>{{ _('The template may contain the tags <code>{user}</code>, <code>{host}</code>, <code>{filename}</code>, <code>{elapsed_time}</code>.') }}</p>

	<div class="control-group" title="{{ _('Content of notification email') }}">
		<label class="control-label">{{ _('Body') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.message_format.body">
		</div>
	</div>
	
	<h5>{{ _('Failed') }}</h5>
	
	<p>{{ _('The template may contain the tags <code>{user}</code>, <code>{host}</code>, <code>{filename}</code>, <code>{elapsed_time}</code>, <code>{reason}</code>.') }}</p>

	<div class="control-group" title="{{ _('Content of notification email') }}">
		<label class="control-label">{{ _('Body') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.failed_message_format.body">
		</div>
	</div>

    <h5>{{ _('Paused') }}</h5>

	<p>{{ _('The template may contain the tags <code>{user}</code>, <code>{host}</code>, and <code>{filename}</code>.') }}</p>

	<div class="control-group" title="{{ _('Content of notification email') }}">
		<label class="control-label">{{ _('Body') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.paused_message_format.body">
		</div>
	</div>

	<h4>{{ _('Snapshot Attachments') }}</h4>

	<p>{{ _('Only enable if a camera is configured and working. Will break the plugin if not working.') }}</p>

	<div class="control-group">
		<div class="controls" title="{{ _('send snapshot') }}">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.matrix_notifier.send_snapshot" /> {{ _('Send Snapshot') }} 
			</label>
		</div>
	</div>

</form>
