<h3>{{ _('Matrix Notifier Configuration') }}</h3>

<form class="form-horizontal">

	<h4>{{ _('Server and Room Settings') }}</h4>

	<div class="control-group" title="{{ _('Username (mxid)') }}">
		<label class="control-label">{{ _('Username') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.username">
		</div>
	</div>

	<div class="control-group" title="{{ _('Server Address') }}">
		<label class="control-label">{{ _('Server Address') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.homeserver">
		</div>
	</div>

	<div class="control-group" title="{{ _('Access Token') }}">
		<label class="control-label">{{ _('Access Token') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.access_token">
		</div>
	</div>

	<div class="control-group" title="{{ _('Room Alias or ID') }}">
		<label class="control-label">{{ _('Room Address') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.room">
		</div>
	</div>

  <h4>{{ _('Message Content') }}</h4>

	<div class="control-group" title="{{ _('Content of print completed notification') }}">
		<label class="control-label">{{ _('Print Started') }}</label>
		<div class="controls">
      <textarea rows="5" cols="200" name="text" placeholder="Enter text" data-bind="value: settings.plugins.matrix_notifier.events.PrintStarted.template"></textarea>
		</div>
	</div>

	<div class="control-group" title="{{ _('Content of print completed notification') }}">
		<label class="control-label">{{ _('Print Done') }}</label>
		<div class="controls">
      <textarea rows="5" cols="200" name="text" placeholder="Enter text" data-bind="value: settings.plugins.matrix_notifier.events.PrintDone.template"></textarea>
		</div>
	</div>

	<div class="control-group" title="{{ _('Content of print failed notification') }}">
		<label class="control-label">{{ _('Print Failed') }}</label>
		<div class="controls">
      <textarea rows="5" cols="200" name="text" placeholder="Enter text" data-bind="value: settings.plugins.matrix_notifier.events.PrintFailed.template"></textarea>
		</div>
	</div>

	<div class="control-group" title="{{ _('Content of print paused notification') }}">
		<label class="control-label">{{ _('Print Paused') }}</label>
		<div class="controls">
      <textarea rows="5" cols="200" name="text" placeholder="Enter text" data-bind="value: settings.plugins.matrix_notifier.events.PrintPaused.template"></textarea>
		</div>
	</div>

	<div class="control-group" title="{{ _('Content of print progress notification') }}">
		<label class="control-label">{{ _('Progress') }}</label>
		<div class="controls">
      <textarea rows="5" cols="200" name="text" placeholder="Enter text" data-bind="value: settings.plugins.matrix_notifier.events.progress.template"></textarea>
		</div>
		<label class="control-label">{{ _('Progress Interval Percent') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.matrix_notifier.events.progress.interval">
		</div>
	</div>


	<h4>{{ _('Snapshot Attachments') }}</h4>

	<p>{{ _('Only enable if a camera is configured and working. Will break the plugin if not working.') }}</p>

	<div class="control-group">
		<div class="controls" title="{{ _('send snapshot') }}">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.matrix_notifier.send_snapshot" /> {{ _('Send Snapshot') }}
			</label>
		</div>
	</div>

</form>
